/* This is a common(generic) step recommended for each web design
 ..see CSS in Depth book Chapter 3 probably.. Beginning of the step */

:root {
    box-sizing: border-box;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

  body {
    background-color: #709b90;
    font-family: Helvetica, Arial, sans-serif;
  }

  body * + * {
    margin-top: 1.5em;
  }

/* End of the common step */

.app-container {
    background-color: rgba(192,192,192,0.3);
    max-width: 400px;
    margin: 0 auto;
}

